@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  max-width: 1920px;
}

.header {
  max-width: 1720px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px; /* Внутренние отступы для header */
  background-color: #FFFFFF;
}

.header__logo {
  width: 145px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px 0px 24px;
  margin: 0px 8px;
}
.header__logo .logo {
  width: 24px;
  height: 24px;
}
.header__logo .logo-name {
  font-size: 16px;
  font-weight: 400;
}

.header__catalog {
  width: 104px;
  height: 48px;
  background-color: #FFFFFF;
  margin-right: 20px;
  padding: 8px 24px 8px 24px;
  color: #000000;
  border: 1px solid #73AFF4;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}
.header__catalog__catalog:hover {
  background-color: #73AFF4;
}

.header__search {
  width: 1015px;
  height: 48px;
}

.header__input {
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: #5A5A5A;
  padding: 12px 16px 12px 40px;
  border: 1px solid #73AFF4;
  border-radius: 10px;
  width: 1015px;
  background: url("../../public/header-search.svg") no-repeat 10px 10px;
}

.header__nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.nav__item {
  font-size: 16px;
  font-weight: 400;
  margin-left: 20px;
}
.nav__item a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  line-height: 16px;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.sidebar {
  width: 280px;
  padding: 20px;
  background-color: #fff;
  margin-right: 36px;
}

.sidebar > div {
  margin-bottom: 28px;
}

.filter__category {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px;
}
.filter__category .category__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #333333;
}

.category__list {
  list-style-type: none;
}

.category__item {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  cursor: pointer;
}
.category__item .category__name {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #333333;
}
.category__item .category-count {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #AAAAAA;
}

.category__item:hover {
  background-color: #7397F5; /* Цвет фона при наведении */
}

.filter__price {
  width: 280px;
}

.price__title {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 16px;
}

.price__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.custom-label-left {
  width: 119px;
  height: 36px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #AAAAAA;
  align-items: center;
  padding: 10px 8px 10px 8px;
}

.dash {
  width: 10px;
  color: #D5D5D5;
}

.custom-label-right {
  width: 119px;
  height: 36px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #AAAAAA;
  align-items: center;
  padding: 10px 8px 10px 8px;
}

.filter__brand {
  width: 280px;
  display: flex;
  flex-direction: column;
}

.filter__brand > div {
  margin-bottom: 16px;
}

.brand__header {
  display: flex;
  justify-content: space-between;
}
.brand__header .brand__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 16px;
}
.brand__header #clear {
  background-color: transparent;
  border: none;
  color: #AAAAAA;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  cursor: pointer;
}

.search__container {
  width: 100%;
}

#search {
  width: 100%;
  display: block;
  box-sizing: border-box;
  border: 1px solid #D5D5D5;
  color: #AAAAAA;
  padding: 10px 12px 10px 32px;
  margin: 0px 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 0px;
  background: url("../../public/search-brand.svg") no-repeat 8px center;
}

.brand {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #333333;
}

input[type=text] {
  margin-bottom: 10px; /* Отступ снизу для поля поиска */
}

label {
  margin-bottom: 10px; /* Отступ снизу для каждой метки */
}

.filter__size {
  width: 280px;
  display: flex;
  flex-direction: column;
}
.filter__size .size__title {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #333333;
  margin-bottom: 16px;
}
.filter__size .size {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.filter__size label {
  margin-bottom: 12px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Карточки товаров */
.container__cards {
  max-width: 100%;
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 24px;
  column-gap: 24px;
}

.card__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 333px;
  height: 356px;
  padding: 0px;
}

.card__picture {
  width: 333px;
  height: 200px;
  box-sizing: border-box;
  background-color: #F8F8FA;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  position: relative;
}
.card__picture .badge {
  position: absolute;
  width: 112px;
  height: 32px;
  top: 12px;
  left: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #FFFFFF;
  color: #000000;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
}
.card__picture .icon-bestseller {
  width: 13px;
  height: 15px;
}
.card__picture .item__img {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card__picture .discount {
  text-align: center;
  width: 48px;
  height: 26px;
  position: absolute;
  left: 12px;
  bottom: 12px;
  background-color: #7397F5;
  color: #FFFFFF;
  margin: 0;
  padding: 6px 10px;
  border-radius: 5px;
}

.third-card .card__picture {
  filter: saturate(0) brightness(1) contrast(0.7);
}

.brand__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;
  margin-left: 0;
}
.brand__item .brand {
  color: #AAAAAA;
}
.brand__item .card__text {
  color: #000000;
}
.brand__item .price {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.brand__item .current-prie {
  font-weight: 700;
  font-style: normal;
  color: #000;
}
.brand__item .old-price {
  text-decoration: line-through;
  color: #ccc;
}
.brand__item .buy {
  padding: 10px 20px;
  background-color: #FFFFFF;
  color: #73AFF4;
  border: 1px solid #73AFF4;
  border-radius: 4px;
  align-self: flex-start;
  margin-top: auto;
  cursor: pointer;
  margin-top: 10px;
}
.brand__item .buy:hover {
  background-color: #5A5A5A;
}

.out-of-stock {
  width: 100%;
  padding: 8px;
  background-color: #FFFFFF;
  color: #AAAAAA;
  border: 1px solid #AAAAAA;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 30px;
  cursor: pointer;
}
.out-of-stock:hover {
  background-color: #007bff;
}

/*# sourceMappingURL=style.css.map */
