body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    max-width: 1920px;
}
.header {
    max-width: 1720px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap:nowrap;
    padding: 12px 0px; /* Внутренние отступы для header */
    background-color: #FFFFFF; 

    &__logo {
        display: flex;
        align-items: center;
        margin-right: 20px; // Отступ справа для группы логотипа
    
        .logo {
          width: 24px; 
          height: 24px; 
          margin-right: 10px; // Отступ справа для логотипа
        }
    
        .logo-name {
          font-size: 1.2em; // Размер текста для логотипа
          margin-right: 20px; // Отступ справа для текста логотипа
        }
      }
    
      &__catalog {
        width: 104px;
        height: 48px;
        background-color: #FFFFFF;
        margin-right: 20px; // Отступ справа для кнопки Каталог
        padding: 8px 24px 8px 24px; // Внутренние отступы для кнопки Каталог
        color: #000000; // Цвет текста для кнопки Каталог
        border: 1px solid #73AFF4; // Без рамки
        border-radius: 8px; // Скругление углов
        cursor: pointer; // Курсор указателя при наведении
        font-size: 14px;
      }

      &__catalog:hover {
        background-color: #73AFF4;
      }
    
      &__input {
        width: 1015px;
        color: #5A5A5A;
        position: static;
        padding: 16px 15px 16px 40px;
        border: 1px solid #73AFF4;
        border-radius: 10px;
      }
    
      &__nav {
        display: flex;
    
        ul {
          width: 400px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          list-style: none; // Убираем маркеры списка
          gap: 13px;
          padding-left: 0;
          margin: 0;
    
          .nav__item {
            font-size: 16px;
            font-weight: 400;
            margin-left: 20px;
    
            a {
                text-decoration: none;
                color: #000000;
                font-size: 14px;
                line-height: 16px;
            }
          }
        }
      }
  }
  .main-container {
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .sidebar {
    width: 280px;
    padding: 20px;
    background-color: #fff;
  }

  .filter__category {
      width: 280px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 0px;

    .category__title {
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      color: #333333;
    }
  }

    .category__list {
      list-style-type: none;
    }

    .category__item {
      display: flex;
      justify-content: space-between;
      padding: 5px 10px;
      cursor: pointer;

    .category__name {
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      color: #333333;
    }

    .category-count {
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      color: #AAAAAA;
    }
  }
    .category__item:hover {
    background-color: #7397F5; /* Цвет фона при наведении */
  }

  .filter__price {
    width: 280px;
  }
    .price__title {
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
    }

  .price__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
    .custom-label {
      width: 119px;
      height: 36px;
      box-sizing: border-box;
      border-radius: 4px;
      border: 1px solid #AAAAAA;
      position: absolute;
    }

    .filter__brand {
      width: 280px;
      display: flex;
      flex-direction: column;
      
      .brand__title {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        padding: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .brand {
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        color: #333333;
      }

      input[type="text"] {
        margin-bottom: 10px; /* Отступ снизу для поля поиска */
      }
    
      label {
        margin-bottom: 10px; /* Отступ снизу для каждой метки */
      }
    }

    .filter__size {
      width: 280px;
      display: flex;
      flex-direction: column;

      .size__title {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        color: #333333;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .size {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
      }
      label {
        margin-bottom: 12px;
      }
    }
  /* Карточки товаров */
  .container__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    row-gap: 24px;
    background-color: #FFFFFF;

    .card__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    background-color: #F8F8FA;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    position: relative;
  
      .badge {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: #FFFFFF;
        color: #000000; 
        padding: 5px 10px;
        border-radius: 5px;
      }
  
      &__item__img {
        width: 18px;
        height: 18px;
        align-self: center;
      }
  
      .discount {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #73AFF4;
        color: #FFFFFF;
        padding: 5px 10px;
        border-radius: 5px;
      }
    }

    .brand__item{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

      .brand {
        color: #AAAAAA;
        margin-bottom: 10px;
      }
      

      .card__text {
        color: #000000;
      }
      .price {
        display: inline-flex;
        align-items: center;
        gap: 10px;
    }
        .current-prie {
          font-weight: 700;
          font-style: normal;
          color: #000;
        }
  
        .old-price {
          text-decoration: line-through;
          color: #ccc;
        }

      .buy {
        padding: 10px 20px;
        background-color: #FFFFFF;
        color: #73AFF4;
        border: 1px solid #73AFF4;
        border-radius: 4px;
        align-self: flex-start;
        margin-top:auto;
        cursor: pointer;
        margin-top: 10px;

        &:hover {
          background-color:#5A5A5A;
        }
      }
    }
}
.out-of-stock {
  width: 100%;
  padding: 8px;
  background-color: #FFFFFF;
  color: #AAAAAA;
  border: 1px solid #AAAAAA;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 30px;
  cursor: pointer;

  &:hover {
    background-color:#007bff;
}
}
      